@media screen and (max-width:576px) 
  
{
  /* *{
    width: 95%;
  } */
  .primary-button {
    padding: 10px 30px;
    display: inline;
  }
    .navbar ul  li{
      display: none;
       visibility: hidden;

    }
    .fa-solid {
      display: block;
        visibility: visible;
        
    }
    .banner{
      flex-direction: column;
    }
.banner h1{
  font-size: 2.2rem;
}
.banner-span{
  font-size: 3rem;
}
.banner-card2
{
  top: 40%;
    left: 75%;
    width: 150px;
}

    .habit-list{
      flex-direction: column;
    }
        .habits h1 {
          font-size: 2.2rem;
        }

        .run{
          flex-direction: column;
        }

        .run h1{
          font-size: 2.2rem;
        }
        .run button{
          margin-bottom: 10px;
        }
        .excercies{
          grid-template-areas: 
          "ex1 ex4"
          "ex4 ex5";
        }
        .excercise3{
          display: none;
            visibility: hidden;

        }
        .excercise6{
          display: none;
          visibility: hidden;
        }
        .excercies-header h1{
          font-size: 2.2rem;
        }



        .bmi-body {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                }
        .meet-header h1{
           font-size: 2.2rem;
        }
       .meet-list {
         margin: 20px 0px;
         align-items: center;
         display: grid;
         gap: 10px;
          grid-template-areas:
            "meet1"
            " meet2"
             "meet3"
            "meet4"  
            "meet5" 
            "meet6";
       }

       .footer{
        flex-direction: column;
       }
        
}
