@media screen and (max-width:576px) 
  
{
  *{
    padding: 0px;
      margin: 0px;
  }

   .main{
    width: 90%;
   }
   .main p{
    font-size: .9rem;
   }
   .navbar{
    width: 90%;
   }
   .body{
    width: 90%;
   }
  .banner-div {
      width: 90%;
     }
  .footer{
    width: 90%;
    }
  .all-right{
    width: 90%;
  }
  .banner-content-button button
  ,.banner-content-button       button:nth-child(2){
     padding: 10px 25px;
     font-size: .8rem;
  }
 
    .navbar ul  li{
      display: none;
       visibility: hidden;

    }
    .navbar-logo-text{
      font-size: 2rem;
    }
    .navbar ul{
      border: none;
    }
    .navbar img {
      display: block;
        visibility: visible;
        
    }
    .banner-div{
      margin: 30px auto;
      flex-direction: column;
    }

.banner-content h1{
  font-size: 3.5rem;
    line-height: 4rem;
}

.banner-span{
  font-size: 5rem;
}
.banner-card2
{
  top: 40%;
    left: 75%;
    width: 40%;
}
.banner-card1{
  width: 40%;
  left: 15%;
}
.banner-card1 img {
  width: 30px;
  height: 30px;
}
.banner-card1 h2,.banner-card2 h2 {
  font-size: 1.5rem;
  background: none;
  margin: 10px;
}
.banner-card1 p,.banner-card2 p{
  font-size: .6rem;
    margin: 10px;
}

    .habit-list{
      display: flex;
      flex-direction: column;

    }
        .habits h1 {
          font-size: 2rem;
        }

        .run{
          flex-direction: column;
        }

        .run h1{
          font-size: 2rem;
        }
        .run button{
          margin-bottom: 10px;
            margin: 20px auto;
            width: 80%;
            padding: 10px 25px;
            font-size: .8rem;
            
        }
                .run-content button {
                  padding: 10px 25px;
                    font-size: .8rem;
                }
    
        .excercies{
          grid-template-areas: 
          "ex1 ex4"
          "ex4 ex5";
        }
        .excercise3{
          display: none;
            visibility: hidden;

        }
        .excercise6{
          display: none;
          visibility: hidden;
        }
        .excercies-header h1{
          font-size: 2rem;
        }

        .bmi{
          margin: 0 auto;
        }
        .bmi-heading{
          width: 90%;
        }
        .bmi-heading p{
          text-align: left;
        }
        .bmi-body {
           display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  width: 90%;
                }
        .bmi-chart table {
                  width: 100%;
                  text-align: center;
                }
        .bmi-calculator h1{
          font-size: 1.2rem;
          margin: 10px 0;
        }
        .bmi-chart h2{
          font-size: 1.2rem;
            margin: 10px 0;
        }
        .meet-header h1{
           font-size: 2rem;
        }
          .sex,
          .activity,
          .height,
          .weight,
          .age{
            height: 45px;
          }

       .meet-list {
         margin: 20px 0px;
         align-items: center;
         display: grid;
          grid-template-areas:
            "meet2"
             "meet3"
          
             "meet5" 
            "meet6";
       }
       
       .meet1,.meet4{
        display: none;
        visibility: hidden;
       }
         .meet-list div {
             width: 90%;
             height: 100%;
           }
      
             .meet-list img {
              width: 100%;
             }

       .footer{
        flex-direction: column;

       }
             .footer-content h1 {
              font-size: 2rem;
             }
       .footer-link-table {
         text-align: start;
         margin-left: -40px;
          flex-direction: column;
       }

       .honeycomb{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* gap: 20px; */
        transform: translateY(0px);
       }
       .honeycomb-cell{
        width: 100px;
        height: 50px;
        flex: 1;
         margin: 50px 5px 25px;
       }
       .honeycomb-cell:nth-child(7)
       {
        display: none;
        visibility: hidden;
       }
       .honeycomb-cell_title{
        font-size: 1rem;
       }
               
        
}

@media screen and (max-width:400px) {
  .honeycomb {
      grid-template-columns: repeat(2, 1fr);
  }
  .banner-content h1{
    font-size: 2.5rem;
  }
}
