@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


*{
  color: var(--primary-text-color);
  font-family: inter;
  font-size: 1rem;
      /* background-image: linear-gradient(top to bottom, rgb(19, 19, 19), black); */
        padding: 0px;
        margin: 0px;
  
}
.hero{
    background: linear-gradient(to left top, rgb(27, 26, 26), rgb(0, 0, 0));
   

}
.main{
  width: 75%;
  margin: 0px auto;
  padding: 30px 0px;
  position: relative;
}

:root{
  --primary-text-color: #FFFFFF;
  --secondary-text-color: rgba(255, 255, 255,50%);
  --special-text-color:  #E6533C;
}
.primary-font{
  color: var(--primary-text-color);
  font-size: 2.3rem;
  /* text-align: center; */
}
.secondary-font{
  color: var(--secondary-text-color);
  font-size: 1rem;
  margin: 15px 0px;
  /* text-align: center; */

}

.primary-button{
  background-color:  var(--special-text-color);
  border-radius: 20px;
  border: none;
  padding: 10px 30px;

}

.navbar{
  width: 75%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: .001px solid rgba(255, 255, 255, 0.2);;
  border-radius: 20px;
  /* gap: 20px; */

}
.navbar li{
  padding: 10px 30px;
  list-style-type: none;
    font-size: 1.1rem;
    font-weight: 400;
}
.navbar h1{
  font-size: 2.2rem;
  color: var(--special-text-color);
    font-style: italic;
}
.fa-solid{
display: none;
  visibility: hidden;
}

/* banner content */
.banner{
    /* box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5); */
    background-image: linear-gradient(rgba(74, 68, 68, 0.5),
          rgba(0, 0, 0, 0.5));
      
    padding: 10px 0px;
}
.banner-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
    margin: 0px auto;

    /* box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5); */
  /* margin: 0 auto; */
}
.banner-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.banner-content-button{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.banner-content-button button{
    padding: 10px 30px;
}
.banner-content-button button:nth-child(2) {
  background: black;
  border: 1px solid white;
}
.banner-content h1{
  font-size: 4.8rem;
  margin: 0;
  padding: 0;
  line-height: 6.5rem;
}
.banner-content p{
  text-align: left;
  
}
.banner-span{
 font-family: 'Miama', sans-serif; 
  font-size: 9rem;
  font-weight: 400;
}
.banner-image{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
    margin-left: auto;
    position: relative;
  /* margin: 0 auto; */
}
.banner-image img{
  margin-left: auto;
  /* background-color: cadetblue; */
}




.banner-card2,.banner-card1{
    width: 200px;
      height: auto;
      border-radius: 10px;
      /* text-wrap: wrap; */
      box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5);
    background-color: rgba(23, 22, 22, 0.4);
    color: white;
    font-weight: bold;
    position:absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
    text-align: center;
}
.banner-card1 div:nth-child(1){
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--special-text-color);
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;

}
.banner-card1 div:nth-child(2)
{
  background: none;
}
.banner-card1{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0px 20px;
  top: 85%;
  left: 30%;
}
.banner-card2 h2,p{
  background: none;
  margin: 10px;
    font-size: 2rem;
}
.banner-card1 h2{
  font-size: 2rem;
  background: none;
    margin: 10px;
}

/* .banner-card2-content, h2,p{
  background: none;
} */


/*habits start*/

.habits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.habits-content{
  text-align: center;
}
.habits-content p{
  margin: 20px auto;
}

.habits h1{
  font-size: 3rem;
  margin: 0 auto;
}

.habit-list{
  display: flex;
  justify-content: center;
  text-align: center;
  /* flex-direction: row; */
  
}
.habit1,.habit2,.habit3,.habit4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-list img{
  border-radius: 50%;
}
.habit-list p{
  width: 80%;
}

/*habits ends*/

/*run starts */

.run{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 1000px rgba(116, 104, 104, 0.5);
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0px;
}
.run-content{
  align-items: start;
}
.run div{
 flex: 1;
 border-radius: 10px;

}
.run p{
  text-align: start;
  width: 80%;
}
.run button{
  padding: 10px 30px;
  margin-top: 10px;
}
.run h1{
  font-size: 3rem;
}
.run img{
  flex: 1;
  max-width: 100%;
  object-fit:cover;
  
  
}

/* run ends*/


/*Excercises */
.excercise{
  margin: 50px 0px;
}
.excercise-list{
  margin: 20px 0px;
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "ex1   ex2 ex2 ex3"
  "ex4   ex4 ex5 ex6";
}
.excercies-header h1{
  font-size: 2.4rem;
  text-align: left;
}
.excercies-header p{
  text-align: left;
}
.excercise1{
  grid-area: ex1;
  position: relative;

}
.excercise2 {
  grid-area: ex2;
    position: relative;
}

.excercise3 {
  grid-area: ex3;
    position: relative;
}
.excercise4 {
  grid-area: ex4;
    position: relative;
}
.excercise5 {
  grid-area: ex5;
    position: relative;
}
.excercise6 {
  grid-area: ex6;
    position: relative;
}
.excercise-list img{
 max-width: 100%;
 height: 100%;
    background-color: white;
    filter: saturate(207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    }
/* box-shadow: 10px 10px 20px rgb(246, 69, 69); */




.excercise1 h4{

  margin: 0px;
  position: absolute;
  top: 80%;
  
  }
 
 .excercise1 h4 {

   margin: 0px 10px;
   position: absolute;
   top: 80%;
   color: black;

 }
 .excercise2 h4 {

  margin: 0px 10px;   position: absolute;
   top: 30%;

 }
 .excercise3 h4 {

  margin: 0px 10px;   position: absolute;
   top: 80%;

 }
.excercise4 h4 {
  
      margin: 0px 10px;
      position: absolute;
      top: 30%;
        left: 60%;
  
    }
 .excercise5 h4 {

  margin: 0px 10px;
     position: absolute;
   top: 60%;

 }
 .excercise6 h4 {

  margin: 0px 10px;   position: absolute;
   top: 80%;

 }

/*Excercises End*/



/*BMI calculator */
.bmi{
      
      margin: 0px auto;
      padding: 0px 0;
      
       
 
}
.bmi-background{
      box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5);
}

.bmi-heading{
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.bmi-body{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 10px auto;
  padding: 15px 0px;
}
.bmi-chart{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex: 1;
}
.bmi-chart th,.bmi-chart td{
  border: 1px solid var(--secondary-text-color);
  border-collapse: collapse;
  padding: 15px 25px;
}

.bmi-calculator{
  flex: 1;
    width: 100%;
  
}
.bmi-calculator div{
  width: 100%;
  margin: 0px auto;

}
.bmi-calculator h1{
  font-size: 2rem;
}
.form{
  display: flex;
  gap: 20px;
  flex-wrap: wrap ;
  margin: 20px 0px;
}
.form input{
padding: 15px 25px;
flex-grow: 1;
width: 25%;
border-radius: 10px;
background: rgb(44, 41, 41);
color:rgba(232, 224, 224, 0.8);
}

.sex,
.activity {
  position: relative;
  display: flex;
  flex-direction: row;
}

.sex-input,
.activity-input {
}

.sex i,
.activity i {
  position: absolute;
  left: 0;
  
}
/* BMI calculator End */


/*BODY START */
.body {

  width: 75%;
  margin: 20px auto;
  padding: 0px 0px;
  position: relative;
  /* border: 1px solid red; */
}
/*meet Start*/
.meet-list {
  margin: 40px 0px;
  display: grid;
  gap: 10px;
  /* width: calc(100%-30px); */
  grid-template-areas:
    "meet1  meet2 meet3"
    "meet4  meet5 meet6";
}

.meet-header h1 {
  font-size: 3rem;
  text-align: center;

}

.meet1 {
  grid-area: meet1;
  position: relative;

}

.meet2 {
  grid-area: meet2;
  position: relative;
}

.meet3 {
  grid-area: meet3;
  position: relative;
}

.meet4 {
  grid-area: meet4;
  position: relative;
}

.meet5 {
  grid-area: meet5;
  position: relative;
}

.meet6 {
  grid-area: meet6;
  position: relative;
}

.meet-list img {
  width:100%;
  height: 100%;
  border: 5px solid rgb(50, 49, 49);
  border-radius: 10px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)); */
  /* box-shadow: 10px 10px 20px rgb(108, 104, 104); */
  /* filter: blur(2px); */
    /* background-color: rgba(0, 0, 0, 0.4); */
      /* Black w/opacity/see-through */
  /* background-image: linear-gradient( to right,red, yellow); ; */
  
  /* filter: saturate(207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
}

.meet h4 {

  margin: 0px;
  position: absolute;
  top: 80%;
  left: 10%;
  font-weight: 1000;

}
.meet h5{
  margin: 10px 0;
  position: absolute;
  top: 85%;
  left: 10%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;

}


/*Meet End*/

/*Footer Starts */
footer{
  width: 100%;
   box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5);
}
.footer{
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.footer-content{
  flex: 1;
  margin: 0 auto;

}
.footer-content h1,p{
  text-align: center;
}
.footer-content h1{
  color: var(--special-text-color);
  font-size: 2.5rem;
  font-style: italic;
}
.footer-content p{
  color: var(--secondary-text-color);
}
.footer-link-table{
  flex: 1;

}
.footer-link-table table{
  width: 100%;
  text-align: center;
  border-spacing: 1.5rem;
  
 
}

.footer-link-table th ,td{
  border: none;
  border-collapse: collapse;
}
.footer-link-table th{
  font-size: 1.2rem;
}
.footer-link-table td{
  color: var(--secondary-text-color);
}

.all-right{
  width: 80%;
  margin: 0px auto;
  border-top: .1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  text-align: center;
  padding: 15px 0px;
}

/* foot ends*/