@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


*{
  color: var(--primary-text-color);
  font-family: inter;
  font-size: 1rem;
      /* background-image: linear-gradient(top to bottom, rgb(19, 19, 19), black); */
        padding: 0px;
        margin: 0px;
  
}
.hero{
    background: linear-gradient(to left top, rgb(27, 26, 26), rgb(0, 0, 0));
   

}
.main{
  width: 75%;
  margin: 0px auto;
  position: relative;
}

:root{
  --primary-text-color: #FFFFFF;
  --secondary-text-color: rgba(255, 255, 255,50%);
  --special-text-color:  #E6533C;
}
.primary-font{
  color: var(--primary-text-color);
  font-size: 2.3rem;
  /* text-align: center; */
}
.secondary-font{
  color: var(--secondary-text-color);
  font-size: 1rem;
  margin: 15px 0px;
  text-align: left;

}

.primary-button{
  background-color:  var(--special-text-color);
  border-radius: 20px;
  border: none;
  padding: 10px 30px;

}

.navbar{
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: .001px solid rgba(255, 255, 255, 0.2);;
  border-radius: 20px;
  /* gap: 20px; */

}
.navbar li{
  padding: 8px 30px;
  list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.navbar-logo-text{
  font-size: 2.2rem;
  color: var(--special-text-color);
    font-style: italic;
    cursor: pointer;
    
}
.navbar img{
  width: 20px;
  height: 25px;
display: none;
  visibility: hidden;
  cursor: pointer;
}

/* banner content */
.banner{
    /* box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5); */
    background-image: linear-gradient(rgba(74, 68, 68, 0.5),
          rgba(0, 0, 0, 0.5));
      
    padding: 50px 0px;
    
}
.banner-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
    margin: 30px auto;

    /* box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5); */
  /* margin: 0 auto; */
}
.banner-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.banner-content-button{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
      cursor: pointer;
}
.banner-content-button button{
    padding: 10px 30px;
        cursor: pointer;
}
.banner-content-button button:nth-child(2) {
  background: black;
  border: 1px solid white;
}
.banner-content h1{
  font-size: 5rem;
  margin: 0;
  padding: 0;
  line-height: 6.5rem;
}
.banner-content p{
  text-align: left;
  
}
.banner-span{
 font-family: 'Miama', sans-serif; 
  font-size: 9rem;
  font-weight: 400;
}
.banner-image{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
    margin-left: auto;
    position: relative;
    
  /* margin: 0 auto; */
}
.banner-image img{
  margin-left: auto;
  max-width: 100%;
  max-height: 100%;

  /* background-color: cadetblue; */
}




.banner-card2,.banner-card1{
    width: 200px;
      height: auto;
      border-radius: 10px;
      /* text-wrap: wrap; */
      box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5);
    background-color: rgba(23, 22, 22, 0.4);
    color: white;
    font-weight: bold;
    position:absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
    text-align: center;
}

.banner-card1 div:nth-child(1){
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--special-text-color);
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
    cursor: pointer;
    color: white;
  

}
.banner-card1 img{
  width: 12px;
  height: 15px;
  margin: 0 auto;
}
.banner-card1 div:nth-child(2)
{
  background: none;
}
.banner-card1{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0px 20px;
  top: 85%;
  left: 40%;
}
.banner-card2 h2,p{
  background: none;
  margin: 10px;
    font-size: 2rem;
}
.banner-card1 h2{
  font-size: 2rem;
  background: none;
    margin: 10px;
}
.banner-card1 p{
  margin: 10px;
}

/* .banner-card2-content, h2,p{
  background: none;
} */


/*habits start*/

.habits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.habits-content{
  text-align: center;
}
.habits-content p{
  margin: 20px auto;
  text-align: center;
}

.habits h1{
  font-size: 3rem;
  margin: 0 auto;
}

.habit-list{
 display: grid;
 grid-template-columns: repeat(4,1fr);
  /* flex-direction: row; */
  
}
.habit-list p{
  text-align: center;
}
.habit1,.habit2,.habit3,.habit4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;    
}
.habit-list img{
  border-radius: 50%;
  max-width: 100%;
  height: 100%;
  
}
.habit-list h3{
  margin-top: 10px;
}
.habit-list p{
  width: 60%;
}

/*habits ends*/

/*run starts */

.run{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 1000px rgba(116, 104, 104, 0.5);
  padding: 30px;
  border-radius: 10px;
  /* margin: 20px 0px; */
}
.run-content{
  align-items: start;
  flex: 1;
}

.run p{
  text-align: start;
  width: 80%;
}
.run button{
  padding: 10px 30px;
  margin: 10px 0px;
  width: 40%;
  cursor: pointer;
}
.run h1{
  font-size: 3rem;
}
.run img{
  /* flex: 1; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 0%;
  overflow: hidden;
  border-radius: 18px;

    
}
.run-image-container{
  width: 100%;
    height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

/* run ends*/


/*Excercises */
.excercise{
  margin: 50px 0px;
}
.excercise h4{
  font-weight: 400;
  font-size: .8rem;
}
.excercise-list{
  margin: 20px 0px;
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "ex1   ex2 ex2 ex3"
  "ex4   ex4 ex5 ex6";
}
.excercies-header h1{
  font-size: 2.4rem;
  text-align: left;
}
.excercies-header p{
  text-align: left;
}

.excercise1 div,.excercise2 div,.excercise3 div,.excercise4 div,.excercise5 div, .excercise6 div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  
}
.excercise1 div{background: #06FFD2;}
.excercise2 div{background: #FF0000;opacity: .3;}
.excercise3 div{background: #000000;}
.excercise4 div{background: #000000;}
.excercise5 div{background: #42FF00; opacity: .3;}
.excercise6 div{background: #0047FF;opacity: .3;}

.excercise1 {
  grid-area: ex1;
  position: relative;
  

}

.excercise2 {
  grid-area: ex2;
    position: relative;
}

.excercise3 {
  grid-area: ex3;
    position: relative;
}
.excercise4 {
  grid-area: ex4;
    position: relative;
}
.excercise5 {
  grid-area: ex5;
    position: relative;
}
.excercise6 {
  grid-area: ex6;
    position: relative;
}
.excercise-list img{
 max-width: 100%;
 height: 100%;
  background-blend-mode: saturation;
  object-fit: cover;
   /* background-color: rgba(6, 255, 210, 50%); */
   /* filter: saturate(1%); */
    /* filter: grayscale(10); */
/* border: 1px solid red; */
  /* fill: rgba(6, 255, 210, 50%); */
    /* filter: saturate(207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
    /* box-shadow: 10px 10px 20px rgba(6, 255, 210, 50%); */
}
/* box-shadow: 10px 10px 20px rgb(246, 69, 69); */




.excercise1 h4{

  margin: 0px;
  position: absolute;
  top: 80%;
  
  }
 
 .excercise1 h4 {

   margin: 0px 10px;
   position: absolute;
   top: 80%;
   color: black;

 }
 .excercise2 h4 {

  margin: 0px 10px;   position: absolute;
   top: 30%;

 }
 .excercise3 h4 {

  margin: 0px 10px;   position: absolute;
   top: 80%;

 }
.excercise4 h4 {
  
      margin: 0px 10px;
      position: absolute;
      top: 30%;
        left: 60%;
  
    }
 .excercise5 h4 {

  margin: 0px 10px;
     position: absolute;
   top: 60%;

 }
 .excercise6 h4 {

  margin: 0px 10px;   position: absolute;
   top: 80%;

 }

/*Excercises End*/



/*BMI calculator */
.bmi{
      
      margin: 0px auto;
      padding: 0px 0;
      
       
 
}
.bmi-background{
      box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5);
}

.bmi-heading{
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.bmi-body{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 10px auto;
  padding: 15px 0px;
}
.bmi h2{
  font-size: 1.5rem;
}
.bmi-chart{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex: 1;
}
.bmi-chart table{
    border-collapse: collapse;
}
.bmi-chart th,.bmi-chart td{
  border: 1px solid var(--secondary-text-color);
  padding: 15px 25px;
    text-align: center;

}
.bmi-chart td {
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  padding: 15px 25px;

}


.bmi-calculator{
  flex: 1;
    width: 100%;
  
}
.bmi-calculator div{
  width: 100%;
  margin: 0px auto;

}
/* .bmi-calculator h1{
  font-size: 2rem;
  margin-bottom: 10px;
} */
.form{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  margin: 20px 0px;
}
.activity{
  grid-column:1/-1;
}
.sex,
.activity,.height,.weight,.age {
  height: 45px;
  /* position: relative; */
    background: rgb(44, 41, 41);
   border-radius: 10px;
    /* padding: 5px; */
    position: relative;
    text-align: center;
}
.height-input,
.weight-input,
.age-input,.sex-input,.activity-input{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: none;
  padding-left: 5px;
}
.sex img,
.activity img{
 
  position: absolute;
  right: 5%;
  top: 40%;
  width: 10px;
  height: 10px;
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
}
.activity img{
  right: 3%;
}



.bmi-btn{
  padding: 10px 50px;
  width: auto;
  text-align: center;
  cursor: pointer;
}






/* BMI calculator End */


/*BODY START */
.body {

  width: 75%;
  margin: 20px auto;
  padding: 0px 0px;
  position: relative;
  /* border: 1px solid red; */
}
/*meet Start*/
.meet-list {
  margin: 40px 0px;
  display: grid;
  gap: 10px;
  /* width: calc(100%-30px); */
  grid-template-areas:
    "meet1  meet2 meet3"
    "meet4  meet5 meet6";
}

.meet-header h1 {
  font-size: 3rem;
  text-align: center;

}
.meet-header p{
  text-align: center;
}

.meet1 {
  grid-area: meet1;
  position: relative;
  background: #000000;
  opacity: .8;

}

.meet2 {
  grid-area: meet2;
  position: relative;
  background: #000000;
    opacity: .8;
}

.meet3 {
  grid-area: meet3;
  position: relative;
  background: #000000;
    opacity: .8;
}

.meet4 {
  grid-area: meet4;
  position: relative;
  background: #000000;
    opacity: .8;
}

.meet5 {
  grid-area: meet5;
  position: relative;
  background: #000000;
    opacity: .8;
}

.meet6 {
  grid-area: meet6;
  position: relative;
  background: #000000;
    opacity: .8;
}
.meet-list div{
  width: 100%;
  height: 100%;
}
.meet-list img {
  width:100%;
  height: 95%;
  border: 15px solid rgb(50, 49, 49);
  border-radius: 20px;
  object-fit: cover;
  /* background: linear-gradient(); */
  
  
  background: linear-gradient(rgba(169, 39, 39, 0.5),
        #3d22c480);
  /* box-shadow: 10px 10px 20px rgb(108, 104, 104); */
  /* filter: blur(2px); */
    /* background-color: rgba(0, 0, 0, 0.4); */
      /* Black w/opacity/see-through */
  /* background-image: linear-gradient( to right,red, yellow); ; */
  
  /* filter: saturate(207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
}
/* .meet-list:nth-child(1){
  display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */

.meet h4 {

  margin: 0px;
  position: absolute;
  top: 80%;
  left: 10%;
  font-weight: 1000;

}
.meet h5{
  margin: 10px 0;
  position: absolute;
  top: 85%;
  left: 10%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;

}


/*Meet End*/

/*Footer Starts */
footer{
  width: 100%;
   box-shadow: inset 0 0 2000px rgba(79, 73, 73, 0.5);
}
.footer{
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.footer-content{
  flex: 1;
  margin: 0 auto;

}
.footer-content h1,p{
  text-align: center;
}
.footer-content h1{
  color: var(--special-text-color);
  font-size: 2.2rem;
  font-style: italic;
  text-align: start;
    cursor: pointer;
}
.footer-content p{
  color: var(--secondary-text-color);
  width: 80%;
}
.footer-link-table{
  flex: 1;
  width: 100%;
    display: flex;
    

}
.footer-link-table table{
  width: 100%;
  text-align: left;
  border-spacing: 1.5rem;
  
 
}

.footer-link-table th ,td{
  border-collapse: collapse;
}
.footer-link-table th{
  font-size: 1.2rem;
}
.footer-link-table td{
  color: var(--secondary-text-color);
    cursor: pointer;
}

.all-right{
  width: 75%;
  margin: 0px auto;
  border-top: .1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  text-align: center;
  padding: 25px 0px;
}

/* foot ends*/

.chatBot-parent{
  position: relative;
}
.chatBot-parent img{
  position: fixed;
  bottom: 10%;
  right: 40px;
  width: 55px;
  height: 55px;
    border: 1px solid red;
    border-radius: 50%;

  background:var(--special-text-color);
}




h3 {
  text-align: center;
}




